.action-icon-btn {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
  background: rgba(255, 255, 255, 0.1);

  &:hover {
    transform: scale(1.1);
  }

  svg {
    transition: color 0.3s ease;
    width: 15px;
    height: 15px;
  }

  &.favorite-btn {
    svg {
      color: #d1d5db;
    }

    &.selected {
      svg {
        color: #ef4444;
      }
    }
  }

  &.compare-btn {
    svg {
      color: #d1d5db;
    }

    &.selected {
      svg {
        color: gold;
      }
    }
  }
}
